<div class="col-md-10 offset-md-1 mt-5">
  <h2><%= @shop.name %></h2>
  <ul>
    <li><b>住所: </b><%= @shop.address %></li>
    <li><b>電話番号: </b><%= @shop.phone %></li>
  </ul>
  <hr>
  <h4>店舗の説明</h4>
  <%= simple_format @shop.description %>
</div>